@font-face {
  font-family: PressStart2P-Regular;
  src: url(./PressStart2P-Regular.ttf);
}

@font-face {
  font-family: Orbitron;
  src: url(./Orbitron-VariableFont_wght.ttf);
}

@font-face {
  font-family: Blackrange;
  src: url('./Black\ Range\ Free.ttf');
}

body {
  margin: 0;
  font-family: PressStart2P-Regular;
  /*font-size: 15px;*/
  text-align: center;
  width: 100%;
  overflow-x: hidden;
  background: #1B1B1B;
}

figure {
  margin: 0;
}

h1,
h2,
p {
  margin: 0;
  color: #D0D0D0;
}

p{
  color: rgba(255, 255, 255, 0.802);
  font-weight: 700;
  font-family: 'Orbitron';
}

h1,
h2,
h3,
h4,
h5 {
  color: #ffffff;
}

span {
  color: #00C4FF;
}



/* xVORTEX Styles */

/* cargador */

.contenedor_carga {
  background: #1B1B1B;
  clip-path: circle(150% at 100% 0);
  transition: all 1s ease;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000000;
}

.contenedor_carga2 {
  clip-path: circle(0% at 100% 100%)
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid rgba(255, 0, 229, 0.62);
  border-color: rgba(255, 0, 229, 0.62) transparent rgba(255, 0, 229, 0.62);
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  100% {
    transform: rotate(1800deg);
  }
}


/*Barra de Navegación*/

ul {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(27, 27, 27);
  transition: height 2s;
  background: linear-gradient(0deg, rgba(27, 27, 27, 0) 0%, rgba(27, 27, 27, 1) 65%);
}

.lgxVortex {
  height: 80px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.lgxVortex img{
  padding-left: 20px;
  width: 35px;
}

.lgxVortex h1{
  white-space: nowrap;
  font-size: 25px;
  text-shadow: 4px 5px 10px rgba(255, 0, 230, 0.5),
  -4px -5px 10px rgba(0, 221, 255, 0.5);
}

.lgxVortex p{
  color: #ffffff;
  font-size: 17px;
  font-family: PressStart2P-Regular;
  text-shadow: 4px 5px 10px rgba(255, 0, 230, 0.5),
  -4px -5px 10px rgba(0, 221, 255, 0.5);
}

.menu-container {
  margin-right: 10px;
  display: none;
  cursor: pointer;
  position: relative;
}

.menu-container div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px;
  transition: 0.4s;
}

.navbar-botones {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lista-Botones {
  display: inline-flex;
  padding-left: 0;
  text-align: center;
  list-style: none;
}

.nav-link {
  display: flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-radius: 30.2659px;
  padding: .5em 1em;
  user-select: none;
}

.nav-link:hover {
  background: rgba(255, 0, 229, 0.62);
}

.active {
  border-radius: 30.2659px;
  padding: .5em 1em;
  background: rgba(255, 0, 229, 0.62);
  color: #fff;
}

.menu-container .active {
  border-radius: 30.2659px;
  padding: .5em 1em;
  background: rgba(255, 0, 229, 0.62);
  color: #fff;
}
@media (max-width: 1410px){
  .navbar-botones{
    width: 60%;
  }
}
@media (max-width: 1180px) {

  .lista-Botones {
    font-size: .8em;
  }

  .lgxVortex img{
    width: 30px;
  }
}

@media (max-width: 1050px) {
  .lgxVortex h1 {
    font-size: 1em;
  }

  .lgxVortex p {
    font-size: .8em;
  }

  .lista-Botones {
    font-size: .6em;
  }
}

@media (max-width: 880px){
  .navbar-botones{
    width: 55%;
  }

  .navbar-botones {
    height: 140px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;

  }

  .lista-Botones {
    width: 70%;
    display: block;
    font-size: .8em;
  }

  .visible {
    display: flex;
  }

  .menu-container {
    display: block;
  }
}

@media (max-width: 365px) {
  .navbar{
    height: 10px;
  }

  .menu-container div{
    height: 2px;
    width: 30px;
    margin: 5px;
  }

  .lgxVortex{
    height: 70px;
    gap: 8px;
  }
  .lgxVortex img{
    width: 20px;
  }

  .lgxVortex h1{
    font-size: .8em;
  }
  .lgxVortex p{
    font-size: .6em;
  }
}

/*Contenido principal*/


.banner {
  width: 100%;
  height: 853px;
  overflow: hidden;
  position: relative;
}

.banner-section h1 {
  font-size: 2em;
}

.banner:before {
  content: '';
  width: 100%;
  height: 200px;
  background: rgb(27, 27, 27);
  background: linear-gradient(0deg, rgba(27, 27, 27, 1) 0%, rgba(27, 27, 27, 0) 100%);
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 90;
}

.banner:after {
  content: '';
  width: 100%;
  height: 100%;
  background: rgb(27, 27, 27);
  background: radial-gradient(circle, rgba(27, 27, 27, 0) 0%, rgba(27, 27, 27, 1) 100%);
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 90;
}

.bg-universe {
  background: url(./bg-universe.png);
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  width: 100%;
  height: 853px;
  position: relative;
}

.title2{
  position: absolute;
  top: 140px;
  z-index: 16;
}

.front-text {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  z-index: 99;
}

.front-text .column {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  grid-gap: 10px;
}


.welcome {
  min-height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  text-align: left;
  width: 35%;
  z-index: 100;
}

.title {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.6em;
  color: #fff;

}

.descripcion {
  color: #D0D0D0;
  font-family: PressStart2P-Regular;
  margin-bottom: 40px;
}

.descripcion p{
  font-size: 20px;
}

.boton-sfy {
  padding: 6.33333px 19px;
  border: 2px solid rgba(255, 0, 229, 0.62);
  box-sizing: border-box;
  border-radius: 28.5px;
  color: #fff;
  white-space: nowrap;
  font-size: 1em;
  cursor: pointer;
  background: #1b1b1b7e;
}

.boton-sfy:hover {

  box-shadow: 0px 0px 30px rgba(255, 0, 229, 1);
  border: 2px solid rgb(255, 255, 255);
}

.token {
  height: 293px;
  position: relative;
  z-index: 15;
}

.medio-token {
  align-self: flex-end;
  width: 100%;
}

.levitar {
  background: url(./machine.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 369px;
  background-blend-mode: lighten;
  position: absolute;
  bottom: 150px;
}

.logo-lev {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./logo-icon.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 96px;
  position: absolute;
  z-index: 15;
  top: -150px;
  transform: rotate(45deg);
  animation-name: levitar;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  transition: .2s all;
}

@keyframes levitar {
  0% {
    top: -150px;
  }

  50% {
    top: -120px;
  }

  100% {
    top: -150px;
  }
}


.logo-lev:hover {
  transform: rotate(360deg);
  transform: scale(1.3);
  cursor: pointer;
}

.mundo {
  width: 654px;
  height: 654px;
  position: absolute;
  z-index: 4;
  left: 50%;
  margin-left: -327px;
  bottom: 50px;
}

.planeta {
  background: url(./planeta.png) 50% 50%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-blend-mode: lighten;
  position: absolute;
  z-index: 15;
  animation: rotarPlaneta infinite 300s linear;
}

@keyframes rotarPlaneta {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

.bg-u-2 {
  background: rgb(0, 183, 255);
  background: radial-gradient(circle, rgba(0, 183, 255, 1) 0%, rgba(0, 183, 255, 0) 70%);
  width: 654px;
  height: 654px;
  border-radius: 100%;
  position: absolute;
  z-index: 10;
  bottom: -40px;
}

.bg-universe img{
  width: 2400px;
  position: absolute;
}

.bg-universe img:nth-child(1){
  bottom: 105px;
  z-index: 6;
}

.bg-universe img:nth-child(2){
  scale: 1.5;
  bottom: 190px;
  z-index: 5;
}

.bg-universe img:nth-child(3){
  bottom: -20px;
  z-index: 15;
}

/* .bg-stone {
  background: url(./bg-stone-1.png);
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 223px;
  position: absolute;
  bottom: 150px;
  background-repeat: no-repeat;
  z-index: 6;
}

.bg-stone-2 {
  background: url(./bg-stone-2.png);
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 330px;
  position: absolute;
  bottom: 190px;
  background-repeat: no-repeat;
  z-index: 5;
  left: 0;
}

.front-stone {
  background: url(./front-stone_1.png);
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 874px;
  position: absolute;
  bottom: -20px;
  background-repeat: no-repeat;
  z-index: 15;
} */

@media (max-width: 1900px) {

  .bg-universe img{
    width: 1900px;
    position: absolute;
  }

  .title {
    font-size: 2em;
  }

  .descripcion {
    font-size: 1em;
  }

}

@media (max-width: 1290px) {

  .welcome{
    width: 50%;
  }
  .title {
    font-size: 1.9em;
  }

  .descripcion {
    font-size: .9em;
  }
}


@media (max-width: 890px) {
  .welcome{
    width: 55%;
  }
  .title {
    font-size: 1.5em;
  }

  .boton-sfy {
    font-size: 1em;
  }
}

@media (max-width: 770px) {
  .front-text .column {
    width: 95%;
  }
}

@media (max-width: 540px) {

  .front-text .column {
    width: 100%;
    height: 650px;
  }


  .welcome {
    margin-top: 0;
    text-align: center;
    width: 70%;
  }

  .title {
    font-size: 1.5em;
  }

  .descripcion {
    font-size: .9em;
  }

  .boton-sfy {
    font-size: .9em;
  }

}

/*Footer*/


.logo-footer {
  margin-top: 100px;
  margin-bottom: 50px;
}

.redes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: .8em;
}

.redes a {
  padding: 20px 65px;
}

.redes a:hover>h3 {
  color: rgba(255, 0, 229, 0.62);
  text-shadow: 0px 0px 25px rgb(255, 0, 230);
}

.creditos {
  color: #575757;
  padding: 50px;
}


/*About us*/


.banner-section {
  width: 100%;
  height: 353px;
  overflow: hidden;
  position: relative;
}

.banner-section .mundo {
  top: 80px;
}

.banner-section:before {
  content: '';
  width: 100%;
  height: 200px;
  background: rgb(27, 27, 27);
  background: linear-gradient(0deg, rgba(27, 27, 27, 1) 0%, rgba(27, 27, 27, 0) 100%);
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 90;
}

.banner-section:after {
  content: '';
  width: 100%;
  height: 100%;
  background: rgb(27, 27, 27);
  background: radial-gradient(circle, rgba(27, 27, 27, 0) 0%, rgba(27, 27, 27, 1) 100%);
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 90;
}

.aboutus-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: relative;
  z-index: 100;
}

.aboutus-row {
  justify-content: center;
  display: flex;
  gap: 150px;
}

.abotus-texto {
  width: 400px;
  min-width: 350px;
}

.abotus-texto h2 {
  text-align: center;
}

.abotus-texto p {
  text-align: justify;
  height: 100%;
  padding-top: 30px;
  line-height: 1.5rem;
  width: 100%;
}

#letra-normal {
  font-size: 18px;

}

.aboutus-imagen {
  display: flex;
  align-items: center;
  /* animation: flotar 6s infinite; */
}

.aboutus-imagen img {
  width: 300px;
  height: 300px;
  animation: rotar 100s infinite linear;
}

.aboutus-row-team {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 50px;
  gap: 50px;
}

.aboutus-card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.aboutus-card {
  width: 300px;
  background: #242424;
  border-radius: 18.4669px;
  padding: 20px;
  border: solid 2px #242424;
  transition: .2s all;
  height: 100%;
}

.aboutus-card h3{
  font-size: 30px;
}

.aboutus-card h3 span{
  font-size: 20px;
}

.aboutus-card:hover {
  cursor: pointer;
  border-color: rgba(255, 0, 229, 0.62);
  box-shadow: 10px 10px 5px rgba(255, 0, 229, 0.62);
  transform: scale(1.05);
}

.aboutus-card img {
  width: 100%;
}

.partner img {
  width: 80%;
  transition: .2s all;
  height: 60px;
  border-radius: 10px;
}

.partner img:hover {
  cursor: pointer;
  border: 2px solid rgba(255, 0, 229, 0.62);
  box-shadow: 0px 0px 25px rgba(255, 0, 229, 0.62);
  transform: scale(1.05);
}

@media (max-width: 1000px) {

  .titulo-theteam h1 {
    font-size: 1.6em;
  }

  .partners h1 {
    font-size: 1.3em;
  }

  .aboutus-card-container {
    flex-wrap: wrap;
  }

  .abotus-texto p {
    font-size: .8em;
  }

  .aboutus-imagen img {
    width: 200px;
    height: 200px;
  }

  .aboutus-row {
    flex-wrap: wrap;
    gap: 20px;
  }

}

@media (max-width: 699px) {


  .aboutus-container {
    gap: 100px;
  }

  .abotus-texto h2 {
    font-size: 1.3em;
  }

  .abotus-texto p {
    font-size: .7em;
  }

}

@keyframes rotar {
  100% {
    transform: rotateZ(1turn);
  }

}


/*Portfolio*/

.container-portfolio{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  margin-top: 5px;
}

.portfolio-title{
  display: flex;
  align-items: center;
  width: 250px;
  height: 40px;
  overflow: hidden;
}

.title-slides{
  width: 750px;
  margin-left: var(--y);
  transition: all .5s;
  display: flex;
  flex-wrap: nowrap;
}

.title-carousel{
  width: 250px;
}
.carousel{
  position: relative;
  width: 600px;
  height: 338px;
  scale: 1.2;
  border-radius: 10px;
  border: 3px solid rgba(255, 0, 229, 0.62);
  overflow: hidden;
}

.carousel:hover{
  box-shadow: 0px 0px 20px rgb(255, 0, 229);
}
.slides{
  width: var(--z);
  margin-left: var(--x);
  display: flex;
  flex-wrap: nowrap;
}
.slides-content{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 600px;
  height: 338px;
}

.slides-content img,
.slides-content p{
  z-index: 1;
  color: #fff;
}

.slides-transparencia{
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
}

.metaverse1{
  background: url('./blocktopia.gif') no-repeat;
}
.metaverse1 img{
  height: 50px;
}

.metaverse2{
  font-family: 'Orbitron';
  background: url('./netvrk-fondo.jpg') ;
}

.metaverse2 p{
  font-weight: 200;
  font-size: 5em;
}

.gamify1{
  background: url('./metafighter.png') center ;
  background-color: rgb(255, 179, 0);
}

.gamify1 img{
  width: 200px;
}

.gamify2{
  background: url('./kawaiiliands-fondo.jpg');
}

.gamify2 img{
  width: 200px;
}

.nft1{
  background: url('./billionaries.jpg') no-repeat center #002935;
}

.nft1 P{
  font-size: 2em;
  text-shadow: rgb(255, 0, 0) 0px 0px 12px, rgb(0, 0, 255) 0px 0px 20px;
}

.nft2{
  flex-direction: column;
  background: url('./whales-fondo.jpg');
}

.nft2 img{
  width: 250px;
}

.nft2 p{
  font-size: 1.7em;
}

.nft3{
  flex-direction: column;
  background: url('./hape-fondo.png') center;
}

.nft3 p{
  font-size: 1.6em;
}

.nft4{
  flex-direction: column;
  background: url('./aaa-fondo.jpg');
}

.nft4 img{
  width: 400px;
}

.nft5{
  flex-direction: column;
  background: url('./apeevo-fondo.jpg') no-repeat center;
  font-size: 1.5em;
}

.dv-botones{
  width: 400px;
  display: flex;
  gap: 20px;
}

.ctr-botones{
  width: 50%;
}

.partners {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

@media (max-width: 820px){
  .carousel{
    scale: 1;
  }
}

@media (max-width: 680px){
  .container-portfolio{
    gap: 50px;
  }
  .carousel{
    transform: scale(.8);
    line-height: 0px;
  }

  
}

@media (max-width: 530px){
  .container-portfolio{
    gap: 10px;
  }
  .carousel{
    transform: scale(.6);
  }

  .dv-botones{
    width: 300px;
  }

  .ctr-botones div{
    font-size: .6em;
  }
}

@media (max-width: 390px){
  .container-portfolio{
    gap: 0px;
  }

  .carousel{
    margin-top: -50px;
    transform: scale(.5);
  }

  .portfolio-title{
    scale: .8;
  }
  .dv-botones{
    margin-top: -50px;
    margin-bottom: 50px;
    width: 200px;
  }

  .ctr-botones div{
    font-size: .4em;
  }
}

@media (max-width: 325px){
  .carousel{
    margin-top: -60px;
    transform: scale(.4);
  }

  .portfolio-title{
    scale: .6;
  }
  .dv-botones{
    margin-top: -80px;
    width: 200px;
  }

  .ctr-botones div{
    font-size: .4em;
  }
}

/*blog*/

.blog-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.blog-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
  gap: 50px;
  width: 90%;
  margin-bottom: 100px;

}

.card__father {
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.card__father:hover .blog__card {
  transform: rotateY(180deg);
}


.blog__card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: all 600ms;
}

.card__front {
  background-size: cover;
  background-position: center;
}

.card__front h1 {
  color: #ffffff;
  font-size: 15px;
}


.card__front,
.card__back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 20px;
}

.card__back {
  transform: rotateY(180deg);
  background: #242424;
}



/**** cursor ***/

.lds-ripple {
  display: none;
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 15px;
  right: 15px;
  animation: parpadear 2s linear infinite alternate;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -1s;
}

@keyframes lds-ripple {
  0% {
    top: 30px;
    left: 30px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  4.9% {
    top: 30px;
    left: 30px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  5% {
    top: 30px;
    left: 30px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    opacity: 0;
  }
}

.transparencia {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #00000082;
  border-radius: 20px;
}

.transparencia img {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 20px;
  opacity: 0;
  animation: parpadear 2s linear infinite alternate;
}

.cursor2 img,
.cursor2 .lds-ripple {
  animation-delay: -2s;
}

@keyframes parpadear {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/********/




.body__card_back,
.body__card_front {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateZ(60px);
  border-radius: 20px;
}

.body__card_front {
  width: 80%;
  height: 80%;
  padding: 15px;
  gap: 20px;
}

.body__card_back {
  width: 100%;
  height: 100%;
  padding: 15px;
  gap: 20px;
}

.body__card_back p {
  width: 85%;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 500px) {
  .card__father {
    width: 300px;
    height: 300px;
  }

  .card__front h1 {
    font-size: 15px;
  }

  .lds-ripple {
    display: inline-block;
  }

  .transparencia img {
    display: none;
  }
}



