@font-face {
  font-family: PressStart2P-Regular;
  src: url(../fonts/PressStart2P-Regular.ttf);
}

@font-face {
  font-family: Orbitron;
  src: url(../fonts/Orbitron-VariableFont_wght.ttf);
}

*{
  padding: 0;
  margin: 0;
  color: #fff;
  text-decoration-line: none;
}

body {
  font-family: PressStart2P-Regular;
  text-align: center;
  overflow-x: hidden;
  background: #1B1B1B;
}

p{
  color: rgba(255, 255, 255, 0.802);
  font-weight: 700;
  font-family: 'Orbitron';
}

span {
  color: #00C4FF;
}



/* xVORTEX Styles */

/************ loader ****************/

.loader-container {
  background: #1B1B1B;
  clip-path: circle(150% at 100% 0);
  transition: clip-path 1s ease;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000000;
}

.hide-loader {
  clip-path: circle(0% at 100% 100%)
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid rgba(255, 0, 229, 0.62);
  border-color: rgba(255, 0, 229, 0.62) transparent rgba(255, 0, 229, 0.62);
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  100% {
    transform: rotate(1800deg);
  }
}


/************ navbar *******************/

.navbar ul {
  margin: 0;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar {
  flex-wrap: wrap;
  display: flex;
  align-items: center;  
  background: rgb(27, 27, 27);
  transition: height 2s;
  background: linear-gradient(0deg, rgba(27, 27, 27, 0) 0%, rgba(27, 27, 27, 1) 65%);
}

.navbar-lgxVortex {
  height: 80px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.navbar-lgxVortex img{
  padding-left: 20px;
  width: 35px;
}

.navbar-lgxVortex h1{
  white-space: nowrap;
  font-size: 25px;
  text-shadow: 4px 5px 10px rgba(255, 0, 230, 0.5),
  -4px -5px 10px rgba(0, 221, 255, 0.5);
}

.navbar-lgxVortex p{
  color: #ffffff;
  font-size: 17px;
  font-family: PressStart2P-Regular;
  text-shadow: 4px 5px 10px rgba(255, 0, 230, 0.5),
  -4px -5px 10px rgba(0, 221, 255, 0.5);
}

.navbar-hamburger-icon {
  margin-right: 10px;
  display: none;
  cursor: pointer;
  position: relative;
}

.navbar-hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px;
  transition: 0.4s;
}

.navbar-buttons-container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-buttons {
  display: inline-flex;
  padding-left: 0;
  text-align: center;
  list-style: none;
}

.nav-link {
  display: flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-radius: 30.2659px;
  padding: .5em 1em;
  user-select: none;
}

.nav-link:hover {
  background: rgba(255, 0, 229, 0.62);
}

.active {
  border-radius: 30.2659px;
  padding: .5em 1em;
  background: rgba(255, 0, 229, 0.62);
  color: #fff;
}

.navbar-hamburger-icon .active {
  border-radius: 30.2659px;
  padding: .5em 1em;
  background: rgba(255, 0, 229, 0.62);
  color: #fff;
}

/************** home **************/


.banner {
  width: 100%;
  height: 853px;
  overflow: hidden;
  position: relative;
}

.banner-section h1 {
  font-size: 2em;
}

/* gradients */

.banner:before {
  content: '';
  width: 100%;
  height: 200px;
  background: rgb(27, 27, 27);
  background: linear-gradient(0deg, rgba(27, 27, 27, 1) 0%, rgba(27, 27, 27, 0) 100%);
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 90;
}

.banner:after {
  content: '';
  width: 100%;
  height: 100%;
  background: rgb(27, 27, 27);
  background: radial-gradient(circle, rgba(27, 27, 27, 0) 0%, rgba(27, 27, 27, 1) 100%);
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 90;
}

/* universe view ( landscape )*/

.banner-universe {
  background: url(../images/home/bg-universe.png);
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  width: 100%;
  height: 853px;
  position: relative;
}

.banner-world-ilumination {
  background: rgb(0, 183, 255);
  background: radial-gradient(circle, rgba(0, 183, 255, 1) 0%, rgba(0, 183, 255, 0) 70%);
  width: 654px;
  height: 654px;
  border-radius: 100%;
  position: absolute;
  z-index: 10;
  bottom: -40px;
}

.banner-universe img{
  width: 2400px;
  position: absolute;
}

.banner-universe img:nth-child(1){
  bottom: 105px;
  z-index: 6;
}

.banner-universe img:nth-child(2){
  scale: 1.5;
  bottom: 190px;
  z-index: 5;
}

.banner-universe img:nth-child(3){
  bottom: -20px;
  z-index: 15;
}

.banner-world-container {
  width: 654px;
  height: 654px;
  position: absolute;
  z-index: 4;
  left: 50%;
  margin-left: -327px;
  bottom: 50px;
}

.banner-world {
  background: url(../images/home/planeta.png) 50% 50%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-blend-mode: lighten;
  position: absolute;
  z-index: 15;
  animation: rotarPlaneta infinite 300s linear;
}

@keyframes rotarPlaneta {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

/* home text */

.home-front-text {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  z-index: 99;
}

.home-front-text .home-column {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  grid-gap: 10px;
}


.home-welcome {
  min-height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  text-align: left;
  width: 35%;
  z-index: 100;
}

.home-title {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.6em;
  color: #fff;

}

.home-description {
  color: #D0D0D0;
  font-family: PressStart2P-Regular;
  margin-bottom: 40px;
}

.home-description p{
  font-size: 20px;
}

.boton-sfy {
  padding: 6.33333px 19px;
  border: 2px solid rgba(255, 0, 229, 0.62);
  box-sizing: border-box;
  border-radius: 28.5px;
  color: #fff;
  white-space: nowrap;
  font-size: 1em;
  cursor: pointer;
  background: #1b1b1b7e;
}

.boton-sfy:hover {

  box-shadow: 0px 0px 30px rgba(255, 0, 229, 1);
  border: 2px solid rgb(255, 255, 255);
}

/************** About us ***********/

/* universe view and title */

.banner-section {
  width: 100%;
  height: 353px;
  overflow: hidden;
  position: relative;
}

.banner-section .banner-world-container {
  top: 80px;
}

.banner-section:before {
  content: '';
  width: 100%;
  height: 200px;
  background: rgb(27, 27, 27);
  background: linear-gradient(0deg, rgba(27, 27, 27, 1) 0%, rgba(27, 27, 27, 0) 100%);
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 90;
}

.banner-section:after {
  content: '';
  width: 100%;
  height: 100%;
  background: rgb(27, 27, 27);
  background: radial-gradient(circle, rgba(27, 27, 27, 0) 0%, rgba(27, 27, 27, 1) 100%);
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 90;
}

.section-title{
  position: absolute;
  top: 140px;
  z-index: 16;
}

/* aboutUs content */

.aboutus-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  position: relative;
  z-index: 100;
}

.aboutus-row {
  justify-content: center;
  display: flex;
  gap: 150px;
  flex-wrap: wrap;
  width: 1600px;
}

.aboutus-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  position: relative;
  width: 400px;
  min-height: 700px;
}

 .aboutus-planet {
  display: flex;
  align-items: center;
  position: relative;
}

.aboutus-planet img {
  width: 300px;
  height: 300px;
  animation: rotar 100s infinite linear;
}

@keyframes rotar {
  100% {
    transform: rotateZ(1turn);
  }
}

.aboutus-planet::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(20% / 2);
  width: 80%;
  height: 20px;
  filter: blur(10px);
  border-radius: 50%;
  transform: translateY(30px) scale(0.9);
}

.aboutus-planet:nth-child(1)::before {
  background: linear-gradient(180deg, #6ff403, #4aa400);
}

.aboutus-planet:nth-child(2)::before {
  background: linear-gradient(180deg, #f49403, #fb0000);
}

.aboutus-planet.lastImg::before {
  background: linear-gradient(180deg, #e803f4, #00fbfb);
}

.aboutus-texto {
  width: 100%;
  min-width: 250px;
  position: relative;
}

.aboutus-texto h2 {
  text-align: center;
}

.aboutus-texto p {
  text-align: justify;
  height: 100%;
  padding-top: 30px;
  line-height: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: ocultar 2s linear;
}

.aboutUs-container-scanner1 {
  position: absolute;
  background: #1B1B1B;
  backdrop-filter: blur(3px);
  display: flex;
  align-items: start;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 500px;
  animation-name: none;
  animation-duration: 3s;
  animation-iteration-count: none;
  animation-delay: none ;
  animation-fill-mode: forwards; 
}

.aboutUs-scanner1 {
  background: #4aa400;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  box-shadow: 
  0 0 3px #4aa400,
  0 0 6px #4aa400,
  0 0 15px #4aa400,
  0 0 30px #6ff403,
  0 0 60px #6ff403,
  0 0 80px #6ff403,
  0 0 98px #6ff403,
  0 0 120px #6ff403;
}

.aboutUs-container-scanner2 {
  position: absolute;
  background: #1B1B1B;
  backdrop-filter: blur(3px);
  display: flex;
  align-items: end;
  top: -10px;
  left: 0;
  width: 100%;
  height: 500px;
  animation-name: none;
  animation-duration: 3s;
  animation-iteration-count: none;
  animation-fill-mode: forwards;
  /* animation-delay: 3s; */
}

.aboutUs-scanner2 {
  background: #f49403;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  box-shadow: 
  0 0 3px #f49403,
  0 0 6px #f49403,
  0 0 15px #f49403,
  0 0 30px #fb0000,
  0 0 60px #fb0000,
  0 0 80px #fb0000,
  0 0 98px #fb0000,
  0 0 120px #fb0000;
}

.aboutUs-container-scanner3 {
  position: absolute;
  background: #1B1B1B;
  backdrop-filter: blur(3px);
  display: flex;
  align-items: start;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 520px;
  animation-name: none;
  animation-duration: 3s;
  animation-iteration-count: none;
  animation-fill-mode: forwards;
}

.aboutUs-scanner3 {
  background: #e803f4;
  height: 5px;
  width: 100%;
  border-radius: 2px;
  box-shadow: 
  0 0 3px #e803f4,
  0 0 6px #e803f4,
  0 0 15px #e803f4,
  0 0 30px #00fbfb,
  0 0 60px #00fbfb,
  0 0 80px #00fbfb,
  0 0 98px #00fbfb,
  0 0 120px #00fbfb;
}

@keyframes scanner {
  100% {
    height: 0px;
  }
}

/* team */

.aboutus-row-team {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 100px 50px 50px 50px;
  gap: 50px;
}

.aboutus-staff-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.aboutus-staff-person {
  width: 300px;
  background: #242424;
  border-radius: 18.4669px;
  padding: 20px;
  border: solid 2px #242424;
  transition: .2s all;
  height: 100%;
}

.aboutus-staff-person img {
  width: 100%;
}

.aboutus-staff-person h3{
  font-size: 30px;
}

.aboutus-staff-person h3 span{
  font-size: 20px;
}

.aboutus-staff-person p {
  font-size: 18px;
}

.aboutus-staff-person:hover {
  cursor: pointer;
  border-color: rgba(255, 0, 229, 0.62);
  box-shadow: 10px 10px 5px rgba(255, 0, 229, 0.62);
  transform: scale(1.05);
}


.partner img {
  width: 80%;
  transition: .2s all;
  height: 60px;
  border-radius: 10px;
}

.partner img:hover {
  cursor: pointer;
  border: 2px solid rgba(255, 0, 229, 0.62);
  box-shadow: 0px 0px 25px rgba(255, 0, 229, 0.62);
  transform: scale(1.05);
}


/************* Portfolio ***************/

.portfolio-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  margin-top: 5px;
}

.portfolio-title-container{
  display: flex;
  align-items: center;
  width: 250px;
  height: 40px;
  overflow: hidden;
}

.portfolio-title{
  width: 750px;
  margin-left: var(--y);
  transition: all .5s;
  display: flex;
  flex-wrap: nowrap;
}

.portfolio-slide-title{
  width: 250px;
}
.portfolio-carousel{
  position: relative;
  width: 600px;
  height: 338px;
  scale: 1.2;
  border-radius: 10px;
  border: 3px solid rgba(255, 0, 229, 0.62);
  overflow: hidden;
}

.portfolio-carousel:hover{
  box-shadow: 0px 0px 20px rgb(255, 0, 229);
}
.portfolio-carousel-slides{
  width: var(--z);
  margin-left: var(--x);
  display: flex;
  flex-wrap: nowrap;
}
.slides-content{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 600px;
  height: 338px;
}

.slides-content img,
.slides-content p{
  z-index: 1;
  color: #fff;
}

.slides-transparency{
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
}

/* carousel content */

.portfolio-content-LifeOut{
  background: #000;
}

.portfolio-content-LifeOut img{
  width: 45%;
}

.portfolio-content-blocktopia{
  background: url(../images/portfolio/blocktopia.gif) no-repeat;
}
.portfolio-content-blocktopia img{
  height: 50px;
}

.portfolio-content-netvrk{
  font-family: 'Orbitron';
  background: url(../images/portfolio/netvrk-fondo.jpg) ;
}

.portfolio-content-netvrk p{
  font-weight: 200;
  font-size: 5em;
}

.portfolio-content-metafighter{
  background: url(../images/portfolio/metafighter.png) center ;
  background-color: rgb(255, 179, 0);
}

.portfolio-content-metafighter img{
  width: 200px;
}

.portfolio-content-kawaiI{
  background: url(../images/portfolio/kawaiiliands-fondo.jpg);
}

.portfolio-content-kawaiI img{
  width: 200px;
}


.portfolio-content-gnss{
  flex-direction: column;
  background: url(../images/portfolio/gnns-fondo.png);
}

.portfolio-content-gnss img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.portfolio-content-gnss p{
  font-size: 1.7em;
}

.portfolio-content-planetXolo{
  flex-direction: column;
  background: url(../images/portfolio/villagers.jpg);
}

.portfolio-content-planetXolo img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.portfolio-content-planetXolo p{
  font-size: 1.8em;
}

.portfolio-content-bMillionaries{
  background: url(../images/portfolio/billionaries.jpg) no-repeat center #002935;
}

.portfolio-content-bMillionaries P{
  font-size: 2em;
  text-shadow: rgb(255, 0, 0) 0px 0px 12px, rgb(0, 0, 255) 0px 0px 20px;
}

.portfolio-content-ssowhales{
  flex-direction: column;
  background: url(../images/portfolio/whales-fondo.jpg);
}

.portfolio-content-ssowhales img{
  width: 250px;
}

.portfolio-content-ssowhales p{
  font-size: 1.7em;
}

.portfolio-content-hapePrime{
  flex-direction: column;
  background: url(../images/portfolio/hape-fondo.png) center;
}

.portfolio-content-hapePrime p{
  font-size: 1.6em;
}

.portfolio-content-aaa{
  flex-direction: column;
  background: url(../images/portfolio/aaa-fondo.jpg);
}

.portfolio-content-aaa img{
  width: 400px;
}

.portfolio-content-aaaEvo{
  flex-direction: column;
  background: url(../images/portfolio/apeevo-fondo.jpg) no-repeat center;
  font-size: 1.5em;
}

.portfolio-buttons-container{
  width: 400px;
  display: flex;
  gap: 20px;
}

.portfolio-button{
  width: 50%;
}

.partners {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

/************* blog **************/

.blog-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.blog-content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
  gap: 50px;
  width: 50%;
  margin-bottom: 100px;
}

.blog-card-container {
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.blog-card-container:hover .blog-card {
  transform: rotateY(180deg);
}


.blog-card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: all 600ms;
}

.blog-card-front {
  background-size: cover;
  background-position: center;
}

.blog-card-front,
.blog-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 20px;
}

.blog-card-back {
  transform: rotateY(180deg);
  background: #242424;
}

.blog-body-card-back,
.blog-body-card-front {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateZ(60px);
  border-radius: 20px;
}

.blog-body-card-front {
  position: relative;
  width: 80%;
  height: 80%;
  padding: 15px;
  gap: 20px;
}

.blog-body-card-front h3{
  font-size: 1.4em;
  position: absolute;
  bottom: 20px;
}

.blog-body-card-back {
  width: 100%;
  height: 100%;
  padding: 15px;
  gap: 20px;
}

.blog-body-card-back p {
  width: 85%;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

/* cursor */

.lds-ripple {
  display: none;
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 15px;
  right: 15px;
  animation: parpadear 2s linear infinite alternate;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -1s;
}

@keyframes lds-ripple {
  0% {
    top: 30px;
    left: 30px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  4.9% {
    top: 30px;
    left: 30px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  5% {
    top: 30px;
    left: 30px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    opacity: 0;
  }
}

.blog-card-transparency {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #00000000;
  border-radius: 20px;
}

.blog-card-transparency img {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 20px;
  opacity: 0;
  animation: parpadear 2s linear infinite alternate;
}

.cursorDelay img,
.cursorDelay .lds-ripple {
  animation-delay: -2s;
}

@keyframes parpadear {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/************** Footer **************/


.logo-footer {
  margin-top: 100px;
  margin-bottom: 50px;
}

.footer-lgxVortex {
  height: 80px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.footer-lgxVortex img{
  padding-left: 20px;
  width: 35px;
}

.footer-lgxVortex h1{
  white-space: nowrap;
  font-size: 25px;
  text-shadow: 4px 5px 10px rgba(255, 0, 230, 0.5),
  -4px -5px 10px rgba(0, 221, 255, 0.5);
}

.footer-lgxVortex p{
  color: #ffffff;
  font-size: 17px;
  font-family: PressStart2P-Regular;
  text-shadow: 4px 5px 10px rgba(255, 0, 230, 0.5),
  -4px -5px 10px rgba(0, 221, 255, 0.5);
}

.footer-socialMedia {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: .8em;
}

.footer-socialMedia a {
  padding: 20px 65px;
}

.footer-socialMedia a:hover>h3 {
  color: rgba(255, 0, 229, 0.62);
  text-shadow: 0px 0px 25px rgb(255, 0, 230);
}

.credits {
  color: #575757;
  padding: 50px;
}

/********* responsive ************/

@media (max-width: 1900px) {

  /* home */

  .banner-universe img{
    width: 1900px;
    position: absolute;
  }

  .home-title {
    font-size: 2em;
  }

  .home-description {
    font-size: 1em;
  }

}

@media (max-width: 1850px){

  /* blog */

  .blog-content-container{
    width: 70%;
  }
}

@media (max-width: 1600px) {

  /* aboutUs */

  .aboutus-row {
    gap: 50px;
  }
  .aboutUs-staff-title h1 {
    font-size: 1.6em;
  }
  .aboutus-staff-container {
    flex-wrap: wrap;
  }
  .aboutus-texto h2 {
    font-size: 1.3em;
  }
  .aboutus-texto p {
    font-size: .8em;
  }
  .aboutus-planet img {
    width: 200px;
    height: 200px;
  }

  /* partners */

  .partners h1 {
    font-size: 1.3em;
  }
  
}

@media (max-width: 1450px){

  /* blog */

  .blog-content-container{
    width: 90%;
  }

  /* navbar */

  .navbar-lgxVortex img{
    width: 30px;
  }

  .navbar-buttons {
    font-size: .8em;
  }

  /* footer */

  .footer-lgxVortex img{
    width: 30px;
  }
}

@media (max-width: 1410px){

  /* navbar */

  .navbar-buttons-container{
    width: 60%;
  }
}

@media (max-width: 1400px){

  /* aboutUs */

  .aboutus-row {
    width: 1200px;
    gap: 50px;
  }
}

@media (max-width: 1290px) {

  /* home */

  .home-welcome{
    width: 50%;
  }
  .home-title {
    font-size: 1.9em;
  }
  .home-description {
    font-size: .9em;
  }
}


@media (max-width: 1050px) {
  /* navbar */
  .navbar-lgxVortex h1 {
    font-size: 1em;
  }

  .navbar-lgxVortex p {
    font-size: .8em;
  }

  .navbar-buttons {
    font-size: .6em;
  }

  /* footer */

  .footer-lgxVortex h1 {
    font-size: 1em;
  }

  .footer-lgxVortex p {
    font-size: .8em;
  }
}

@media (max-width: 1000px){

  /* aboutUs */

  .aboutus-row {
    width: 800px;
    gap: 50px;
  }
}

@media (max-width: 890px) {

  /* home */

  .home-welcome{
    width: 55%;
  }
  .home-title {
    font-size: 1.5em;
  }

  .boton-sfy {
    font-size: 1em;
  }

  /* navbar */

  .navbar-buttons-container{
    width: 55%;    
  }
  .navbar{
    justify-content: space-between;
  }
  .navbar-buttons-container {
    height: 140px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;

  }
  .navbar-buttons {
    width: 70%;
    display: block;
    font-size: .8em;
  }
  .navbar-visible {
    display: flex;
  }
  .navbar-hamburger-icon {
    display: block;
  }
}

@media (max-width: 820px){

  /* portfolio */
  .portfolio-carousel{
    scale: 1;
  }
}

@media (max-width: 770px) {

  /* home */
  .home-front-text .home-column {
    width: 95%;
  }
}

@media (max-width: 680px){

  /* portfolio */

  .portfolio-container{
    gap: 50px;
  }
  .portfolio-carousel{
    transform: scale(.8);
    line-height: 0px;
  }
}

@media (max-width: 540px) {

  /* home */
  
  .home-front-text .home-column {
    width: 100%;
    height: 650px;
  }
  .home-welcome {
    margin-top: 0;
    text-align: center;
    width: 70%;
  }
  .home-title {
    font-size: 1.5em;
  }
  .home-welcome {
    font-size: .9em;
  }
  .boton-sfy {
    font-size: .9em;
  }

  /* portfolio */

  .portfolio-container{
    gap: 10px;
  }
  .portfolio-carousel{
    transform: scale(.6);
  }
  .portfolio-buttons-container{
    width: 300px;
  }
  .portfolio-button div{
    font-size: .6em;
  }
}

@media (max-width: 500px) {

  /* blog */

  .blog-card-container {
    width: 300px;
    height: 300px;
  }

  .blog-body-card-front h1 {
    font-size: 15px;
  }

  .lds-ripple {
    display: inline-block;
  }

  .blog-card-transparency img {
    display: none;
  }
}

@media (max-width: 450px) {

  /* aboutUs */

  .aboutus-column {
    width: 300px;
    min-height: 800px;
  }
  .aboutus-row {
    width: 300px;
  }
  .aboutus-texto {
    min-width: 250px;
  }
  .aboutUs-container-scanner1,
  .aboutUs-container-scanner3{
    height: 540px;
  }
}

@media (max-width: 390px){

  /* sections titles */

  .banner-section h1{
    font-size: 1.2em;
  }

  /* portfolio */

  .portfolio-container{
    gap: 0px;
  }
  .portfolio-carousel{
    margin-top: -50px;
    transform: scale(.5);
  }
  .portfolio-title-container{
    scale: .8;
  }
  .portfolio-buttons-container{
    margin-top: -50px;
    margin-bottom: 50px;
    width: 200px;
  }
  .portfolio-button div{
    font-size: .4em;
  }
}

@media (max-width: 365px) {

  /* navbar */

  .navbar-hamburger-icon div{
    height: 2px;
    width: 30px;
    margin: 5px;
  }

  .navbar-lgxVortex{
    height: 50px;
    gap: 8px;
  }
  .navbar-lgxVortex img{
    width: 20px;
  }

  .navbar-lgxVortex h1{
    font-size: .8em;
  }
  .navbar-lgxVortex p{
    font-size: .6em;
  }

  /* aboutus */ 

  .aboutus-column {
    width: 250px;
    min-height: 900px;
  }
  .aboutus-row {
    width: 250px;
  }
  .aboutUs-container-scanner1,
  .aboutUs-container-scanner2,
  .aboutUs-container-scanner3{
    height: 645px;
  }

  /* footer */

  .footer-lgxVortex{
    height: 50px;
    gap: 8px;
  }

  .footer-lgxVortex img{
    width: 20px;
  }

  .footer-lgxVortex h1 {
    font-size: .8em;
  }

  .footer-lgxVortex p {
    font-size: .6em;
  }

}

@media (max-width: 325px){

  /* portfolio */

  .portfolio-carousel{
    margin-top: -60px;
    transform: scale(.4);
  }

  .portfolio-title-container{
    scale: .6;
  }
  .portfolio-buttons-container{
    margin-top: -80px;
    width: 200px;
  }

  .portfolio-button div{
    font-size: .4em;
  }
}
